body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: pink;
  font-weight: bold;
}

footer {
  background-color: peachpuff;
}

.logo {
  background-color: plum;
  display: inline-block;
  padding: 35px;
  color: white;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header nav {
  display: inline-block;
  margin-left: 50px ;
}

header nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header nav ul li {
  float: left;
  margin-right: 30px;
  font-size: 20px;
}

footer nav {
  display: inline-block;
  margin-left: 100px;
}

footer nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 100px;
  float: right;
}

footer nav ul li {
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

footer div p {
  height: 100px;
  float: right;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
}
